nextflow.enable.dsl = 2
includeConfig 'conf/base.config'
includeConfig 'conf/resources.config'
includeConfig 'conf/local.config'
profiles {
     conda {

        conda.enabled = true

        process.executor = 'local'

    }

    test {
        params {
            input   = "test_data/sample.ccs.bam"
            primers = "test_data/primers.fasta"
            genome  = "test_data/genome.fa"
        }
    }

    isoseq3 {
        params {
            collapse_method = "isoseq3"
        }
    }

    tama {
        params {
            collapse_method = "tama"
        }
    }
}
params {

    input = null

    primers = null

    outdir = "results"

    lima_cpus = 4
    refine_cpus = 4
    cluster_cpus = 4
    tama_script = "${projectDir}/../../tama/tama_go/sequence_cleanup/tama_flnc_polya_cleanup.py"
    genome = null

    pbmm2_cpus = 8
    collapse_cpus = 4
    collapse_method = "isoseq3"

    tama_cpus = 4

    tama_path = "${projectDir}/third_party/tama"

    tama_cleanup_script = "${params.tama_path}/tama_go/sequence_cleanup/tama_flnc_polya_cleanup.py"

    tama_collapse_script = "${params.tama_path}/tama_collapse_python3.py"

}



process {

    executor = 'local'

}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/report.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/timeline.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/trace.txt"
    overwrite = true
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/dag.html"
    overwrite = true
}
conda {

    enabled = true

}

plugins {
    id 'nf-schema@2.3.0'
}
