params {

    /*
     * Input
     */
    input = null
    primers = null
    genome = null

    /*
     * Output
     */
    outdir = "results"

    /*
     * Collapse
     */
    collapse_method = "isoseq3"

    /*
     * Third-party software
     */
    tama_path = "${projectDir}/third_party/tama"

    tama_cleanup_script =
        "${params.tama_path}/tama_go/sequence_cleanup/tama_flnc_polya_cleanup.py"

    tama_collapse_script =
        "${params.tama_path}/tama_collapse_python3.py"

}